# Ignore by default
**

# Add specific exclusions
!cmd
!internal
!pkg
!scripts/mk
!Makefile
!tools
tools/bin
!api
!requirements-dev.txt
!requirements.txt

# NOTE DO NOT ADD ANYTHING BELOW THIS LINE
.docker
.podman
.kube
