.DS_Store
.cicd_bootstrap.sh
secrets
/idm-ci-secrets
.venv
/bin
/tools/bin
tmp.*/**
**/__debug_bin

/api/node_modules
/node_modules
/docs

/api/.venv

*.log

configs/**
!configs/config.example.yaml
!configs/config.ci.yaml
!configs/bonfire.example.yaml
!configs/cdappconfig.json
!configs/mockery.yaml

# File generated when running unit tests
coverage.out

