# Ignore by default
**

# Add specific files
!go.mod
!go.sum

!/requirements.txt
!/requirements-dev.txt

!/cmd
!/internal
!/pkg
!/scripts
!/test
!/tools
/tools/bin
!/api
!/docs
!/build
!/deploy

!/configs/config.example.yaml
!/configs/config.ci.yaml
!/configs/bonfire.example.yaml
!/configs/cdappconfig.json
!/configs/mockery.yaml

# NOTE DO NOT ADD ANYTHING AFTER THIS LINE
.docker
.podman
.kube
