# Ignore by default
**/*

# Base directory
!README.md
!DEVELOPMENT.md
!LICENSE
!go.mod
!go.sum
!Makefile
!requirements-dev.txt
!requirements.txt
!SECURITY.md
!toolbox.sh

# Hidden files
!.dockerignore
!.editorconfig
!.gitattributes
!.gitignore
!.gitlab-ci.yml
!.golangci.yaml
!.pre-commit-config.yaml
!.yamllint.yaml

# .github
!.github
!.github/**
!.github/**/*

# .vscode
!.vscode
!.vscode/**
!.vscode/**/*

# api
!api
!api/**
!api/**/*

# build
!build
!build/**
!build/**/*

# cmd
!cmd
!cmd/**
!cmd/**/*

# configs
!configs
!configs/**
!configs/**/*

# deploy
!deploy
!deploy/**
!deploy/**/*

# internal
!internal
!internal/**
!internal/**/*

# scripts
!scripts
!scripts/**
!scripts/**/*

# test
!test
!test/**
!test/**/*

# tools
!tools
!tools/**
!tools/**/*
tools/bin

configs/config.yaml

